<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myimportantday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyImportantDay"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.example.myimportantday.activities.loggedIn.AllEventScreen" />
        <activity android:name="com.example.myimportantday.activities.loggedIn.SingleEventScreen" />
        <activity
            android:name="com.example.myimportantday.activities.loggedIn.EditEventScreen"
            android:parentActivityName="com.example.myimportantday.activities.loggedIn.SingleEventScreen"
            />
        <activity android:name=".tools.PopUpWindow" />
        <activity android:name=".activities.loggedOut.RegisterScreen" />
        <activity android:name="com.example.myimportantday.activities.loggedIn.MainScreen" />
        <activity
            android:name=".activities.loggedOut.LoginScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myimportantday.activities.loggedIn.MainSettingsScreen"
            android:parentActivityName=".activities.loggedOut.LoginScreen" />
        <activity
            android:name="com.example.myimportantday.activities.loggedIn.settings.UsernameChangeScreen"
            android:parentActivityName="com.example.myimportantday.activities.loggedIn.MainSettingsScreen" />
        <activity
            android:name="com.example.myimportantday.activities.loggedIn.settings.EmailChangeScreen"
            android:parentActivityName="com.example.myimportantday.activities.loggedIn.MainSettingsScreen" />
        <activity
            android:name="com.example.myimportantday.activities.loggedIn.settings.PasswordChangeScreen"
            android:parentActivityName="com.example.myimportantday.activities.loggedIn.MainSettingsScreen" />
    </application>

</manifest>