<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myimportantday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyImportantDay">
        <activity android:name=".activities.ProfileActivity"></activity>
        <activity android:name=".activities.LogoutActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.UsernameChangeActivity"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.EmailChangeActivity"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.PasswordChangeActivity"
            android:parentActivityName=".activities.SettingsActivity" />
    </application>

</manifest>